{
  "openapi": "3.0.1",
  "info": {
    "title": "OwlCraft Translator API",
    "description": "API documentation for the OwlCraft Translator, which provides AI-powered, real-time chat translation services with support for common abbreviations and casual texting formats.",
    "version": "1.0.0",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.owlcrafttranslator.com"
    }
  ],
  "security": [
    {
      "x-api-key": []
    }
  ],
  "paths": {
    "/translate": {
      "get": {
        "description": "Translates the provided text into the specified target language.",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "description": "Text to translate.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tolang",
            "in": "query",
            "description": "Language to translate the text into (lowercase, default 'en').",
            "required": true,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "fromLang",
            "in": "query",
            "description": "Source language (default 'auto').",
            "required": false,
            "schema": {
              "type": "string",
              "default": "auto"
            }
          },
          {
            "name": "nocache",
            "in": "query",
            "description": "Indicates if the translated text should not be cached (default 'false').",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful translation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "translatedText": {
                      "type": "string",
                      "description": "The translated text."
                    },
                    "detectedLanguage": {
                      "type": "string",
                      "description": "The detected source language."
                    },
                    "toLang": {
                      "type": "string",
                      "description": "The target language."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "string",
                      "example": "MISSING_PARAMETERS"
                    },
                    "mandatory": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": ["text", "tolang"]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "INTERNAL_SERVER_ERROR"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/detect": {
      "get": {
        "description": "Detects the language of the provided text.",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "description": "Text whose language is to be detected.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Language detection successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reliable": {
                      "type": "boolean",
                      "description": "Indicates if the detection is reliable."
                    },
                    "lang": {
                      "type": "string",
                      "description": "The detected language."
                    },
                    "confidence": {
                      "type": "integer",
                      "description": "Confidence score (0-100)."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "err": {
                      "type": "string",
                      "example": "MISSING_PARAMETERS"
                    },
                    "mandatory": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": ["text"]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "INTERNAL_SERVER_ERROR"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "x-api-key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    }
  }
}
